@import "../config/base-vars";
@import "../config/base-mixins";

$bp-notify-btn: 500px;

.dialog.notify-dialog {
  width: 14rem !important;
  left: 50% !important;
  margin-left: -7rem !important;

  .windowcontent {
    .btn {
      color: $color-white;
      background-color: $color-app-brand;
      border: 1px solid $color-app-brand;
      font-weight: normal;
      text-shadow: none;

      &:hover {
        color: $color-white;
        background-color: $color-app-light-blue;
      }
    }
  }

  .notification-type-actions {
    text-align: center;

    .notify-btn {
      width: 100%;

      & + .notify-btn {
        margin-top: 10px;
      }
    }
  }

  .notify-actions {
    text-align: center;
    margin-top: 10px;

    .btn.close {
      padding: 8px 10px 5px 10px;
      margin: 0;
      opacity: 1;
      width: 100%;
      color: $color-app-light-blue;
      border: 1px solid $color-app-light-blue;
      background-color: $color-white;

      &:hover {
        color: $color-app-light-blue;
        background-color: $color-smokey-white;
      }
    }
  }
}