@import "../config/base-mixins";

div.window.dialog.tag-selections {
  width: 14rem !important;
  left: 50% !important;
  margin-left: -7rem !important;
}

.tag-selections .tag-button {
  display: block;
  width: 100%;
  margin: 0 auto;
  background: transparent;
  text-align: left;
  border-radius: 0;

  &:before {
    margin-right: 5px;
    transform: rotateY(180deg);
  }

  & + .tag-button {
    border-top: 1px solid lighten($color-app-lightest-grey, 18%);
  }
}