@import "../config/base-mixins";
@import "../config/base-vars";

.glyph-candidate-action-reinvite {
  @include glyphAddBefore("\f122");
  &:before{
    transform: scale(-1, 1);
  }
}

.glyph-candidate-action-move-forward {
  @include glyphAddBefore("\f27a");
}

.glyph-candidate-action-archive {
  @include glyphAddBefore("\f187");
}

.glyph-view {
  @include glyphAddBefore("\f0f6", 18px);
}

.glyph-add {
  @include glyphAddBefore("\f067");
}

.candidate-constraint-keyword {
  .btn.trigger {
    @include glyphAddBefore("\f002");
  }
}

.candidate-constraint-master-filter {
  .btn.trigger {
    @include glyphAddBefore("\f0ca");
  }
}

.candidate-search-sort-order {
  .btn.trigger {
    @include glyphAddBefore("\f0dc");
  }
}

.clear-filters-button {
  @include glyphAddBefore("\f0e2");
}