@import "../config/base-vars";
@import "../config/base-mixins";

$prop-margin-top: 10px;
#column1 {
  max-width: 50rem;
  width: 100%;
  margin: 15px auto;
  padding: 0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.45);
  background-color: rgba(255, 255, 255, 0.6);

  .header-text {
    padding: 0.375rem 1rem;
    background-color: rgba(216, 216, 216, 0.45);

    h2 {
      margin: 0;
    }
  }

  .assessement-link-info {
    padding: 0.375rem 1rem;
    margin-top: 15px;

    p {
      margin: 0;
    }
  }
}

.assessment-links {
  margin: 0.375rem 1rem 1rem;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.55);
}

.full.link .val,
.short-link .val {
  word-wrap: break-word;
}

.link {
  $trigger-btn-dark-blue: #1a6285;
  $trigger-btn-light-blue: #3286b5;
  $trigger-btn-grey: #e8e8e8;

  .trigger {
    display: block;
    width: 100%;
    border-radius: 0;
    text-align: left;
    border: none;
    color: $color-white;
    border-bottom: 10px solid $trigger-btn-dark-blue;
    background-color: $trigger-btn-light-blue;
    font-size: 22px;

    &:hover {
      background-color: lighten($trigger-btn-light-blue, 5%);
    }
  }

  & + & .trigger {
    border-top: none;
  }

  .miwt-collapsable-content {
    display: none;
    padding: .375rem 1rem;
  }

  &.shown {
    .trigger {
      background-color: $trigger-btn-grey;
      color: $trigger-btn-dark-blue;
      border-bottom-color: $trigger-btn-light-blue;

      &:hover {
        background-color: lighten($trigger-btn-grey, 5%);
      }
    }

    .miwt-collapsable-content {
      display: block!important;
    }
  }

  .prop {
    display: block;

    .label {
      display: inline-block;
      padding: 0;
      margin-right: 10px;
      color: $color-app-light-blue;
      font-size: 18px;
      line-height: normal;
    }
  }

  .links {
    .prop + .prop {
      margin-top: $prop-margin-top;
    }
  }

  .info {
    margin-top: $prop-margin-top;

    .prop + .prop {
      margin-top: $prop-margin-top;
    }

    ul {
      margin: 0;
      padding-left: 18px;
    }
  }

  @include breakpoint($bp-tablets-portrait) {
    .info {
      display: table;
      width: 100%;

      .prop {
        display: table-cell;
        width: 30%;
        padding-right: 10px;
        margin: 0;
      }

      .description {
        width: 40%;
      }

      .label {
        display: block;
        text-align: left;
      }
    }
  }

}