@import "../config/base-vars";
@import "../config/base-mixins";
@import "../components/notify-dialog";
@import "../components/select-tag-dialog";

$color-listing-background-grey: #eaeaea;

$table-row-height: 146px;
$table-row-column-left-padding: 10px;
$action-button-height: 37px;
$score-right-offset: 30%;
$keyword-search-transition-time: 0.35s;
$color-reset-button: rgba(144, 144, 144, 0.55);

.pager {
  margin-top: 0;
}

.pageable {
  margin-bottom: 10px;
}

.top-actions-bar {
  display: flex;
  justify-content: flex-end;
  margin: 10px 0;
  position: relative;
  z-index: 99;
  text-align: right;

  .search-constraints {
    display: flex;
    margin-left: 10px;

    @include breakpoint($bp-tablets-portrait) {
      align-items: center;
    }

    & > div {
      display: inline-block;
      vertical-align: top;
    }
  }

  @include breakpoint($bp-tablets-landscape) {
    padding: 0;
  }

  .btn {
    background-color: transparent;
    color: transparent;
    overflow: hidden;
    height: 35px;
    padding: 5px;
    width: 35px;
    font-family: $font-open-sans;

    &::before {
      font-size: 28px !important;
      margin-right: 5px;
      color: $color-app-btn-font-black;
      margin-top: -3px;
      width: 100%;
    }

    &.reset-search-button {
      color: $color-reset-button;

      &:before {
        color: $color-reset-button;
        text-shadow: -1px 1px 1px rgba(146, 146, 146, 0.41);
      }

      &:hover {
        color: $color-app-btn-font-black;
        &:before {
          color: $color-app-btn-font-black;
          text-shadow: -1px 1px 1px rgba(0, 0, 0, 0.41);
        }
      }
    }

    &:active {
      box-shadow: none;
    }

    @include breakpoint($bp-tablets-portrait) {
      overflow: auto;
      width: auto;
      height: auto;
      margin: 0 10px;
      padding: 5px;
      color: $color-app-btn-font-black;

      &:before {
        font-size: 23px !important;
        width: auto;
      }
    }

    &.clear-filters-button {
      color: lighten($color-app-lightest-grey, 5%);

      &::before {
        color: lighten($color-app-lightest-grey, 5%);
      }

    }

  }

  .miwt-collapsable-content {
    background: #f7f7f7;
    border: 3px solid darken($color-cloud-grey, 5%);
    padding: .5rem;
    left: 0;
    width: 100%;
    margin-top: .5rem;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);

    input[type="text"] {
      width: 100%;
      border: 2px solid $color-app-light-grey;
      margin-bottom: .5rem;
    }

    .btn {
      overflow: auto;
      width: auto;
      height: auto;
      padding: 5px 15px;
      margin: 0;
      color: $color-app-btn-font-black;

      &.filter-btn {
        background-color: $color-app-green;
        margin-right: 10px;
      }

      &.reset {
        background-color: $color-app-red;
      }

    }

    span.display-label, span.label-after {
      display: block;
    }

    span.display-label {
      text-align: center;
      color: $color-app-sub-blue;
      margin-bottom: 5px;

      &::before {
        content: '--';
        margin-right: 3px;
      }

      &::after {
        content: '--';
        margin-left: 3px;
      }

    }

    span.label-after {
      text-align: left;
      border-top: 1px solid $color-cloud-grey;
      padding-top: 5px;
      label {
        margin-left: 3px;
        margin-bottom: 5px;
      }
    }

    @include breakpoint($bp-tablets-portrait) {
      max-width: 16rem;
      left: auto;
    }

  }

}

.search-constraints > div:first-child {
  position: relative;

  input[type="text"] {
    padding-left: 0;
    width: 0;
    //transition: width $keyword-search-transition-time linear, padding $keyword-search-transition-time linear;
    border: none;
  }

  .search-actions-container {
    //position: absolute;
    //top: 0;
    //bottom: 0;
    //left: 100%;
    //right: 0;
    //transition: left $keyword-search-transition-time linear;
  }

  .btn.filter-btn {
    @include glyphAddBefore("\f002");
    width: 31px;
    position: absolute;
    top: 0;
    left: -35px;
    padding: 0 2px;
    margin: 0;
    overflow: hidden;
    //transition: left $keyword-search-transition-time linear;
  }

  .btn.reset {
    display: none;
    @include glyphAddBefore("\f00d");
    width: 30px;
    position: absolute;
    top: 0;
    right: 0;
    padding: 2px;
    margin: 0;
    overflow: hidden;

    @include breakpoint($bp-tablets-portrait) {
      width: 25px;
    }
  }

  @include breakpoint($bp-mobile-landscape) {
    .btn.filter-btn,
    .search-actions-container,
    input[type="text"]
    {
      transition: none;
    }

    input[type="text"] {
      padding-left: 30px;
      width: 100%;
      border: 2px inset;
    }

    .search-actions-container {
      left: 0;
    }

    .btn.filter-btn {
      left: 0;
      padding: 2px;
    }

    .btn.reset {
      display: inline-block;
    }
  }

  @include breakpoint($bp-tablets-portrait) {
    input[type="text"] {
      padding-left: 25px;
    }
  }

  &.shown {
    input[type="text"] {
      padding-left: 30px;
      width: 100%;
      border: 2px inset;
    }

    .search-actions-container {
      left: 0;
    }

    .btn.filter-btn {
      left: 0;
      padding: 2px;
    }

    .btn.reset {
      display: inline-block;
    }
  }
}

.search-navigation-actions {
  margin-right: auto;

  @include breakpoint($bp-tablets-landscape) {
    padding: 0;
  }

  .invite-candidate {
    color: $color-app-light-blue;
    margin: 0;

    &::before {
      color: $color-app-light-blue;
    }

    @include breakpoint($bp-tablets-portrait) {
      border: 2px solid $color-app-light-blue;
    }
  }
}

.search-sort-order {
  .miwt-collapsable-content {
    .btn {
      background-color: $color-app-green;
    }
    span.label-after:nth-of-type(1) {
      border-top: none;
    }
  }
}

.search-sort-order, .candidate-constraint-master-filter {

  .miwt-collapsable-content {

    @include breakpoint($bp-tablets-portrait) {
      max-width: 11.25rem;
    }

    .btn {
      margin-top: 8px;
    }

  }

}

.candidate-search {
  border: none;

  //Nothing in here
  thead {
    display: none;
  }

  &.miwt-table>tbody>tr:hover>td,
  &.miwt-table>tbody>tr:nth-child(even)>td {
    background-color: transparent;
  }

  .type-candidate {
    padding: 0 0 15px;
    background-color: transparent;
  }

  .candidate-row {
    position: relative;
    display: table;
    width: 100%;
    background-color: $color-almost-white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.45);

    & + .candidate-row {
      margin-top: 10px;
    }
  }

  .candidate-confirmed-message-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
    background: rgba(0,0,0,0.8);
    color: $color-white;

    .candidate-confirmed-message {
      display: block;
      text-align: center;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  .candidate-name-container {
    display: table;
    width: 100%;
    background-color: $color-listing-background-grey;

    .name {
      display: table-cell;
      width: 100%;
      overflow: hidden;
      max-width: 0;

      @include breakpoint($bp-mobile-landscape) {
        width: 70%;
      }
    }

    .name-button {
      padding: 0;
      width: 100%;
      height: 37px;
      border: none;
      background-color: transparent;
      text-align: left;
      vertical-align: middle;
      font-weight: bold;
      font-size: 20px;
      border-radius: 0;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;

      &:before {
        margin-right: 8px;
        width: 35px;
        padding: $table-row-column-left-padding;
        vertical-align: middle;
        background-color: $color-app-dark-grey;
        color: $btn-primary-color;
      }
    }
  }

  .candidate-wrapper,
  .candidate-actions-score-container {
    display: table-cell;
    vertical-align: top;

    @include breakpoint($bp-tablets-portrait)
    {
      position: relative;
    }
  }

  .candidate-wrapper {
    width: 65%;
    text-align: left;

    @include breakpoint($bp-tablets-portrait)
    {
      width: 60%;
    }

    .tag-button:before {
      margin-right: 5px;
    }
  }

  .candidate-actions-score-container {
    position: relative;
    width: 35%;

    @include breakpoint($bp-tablets-portrait)
    {
      width: 40%;
    }
  }

  .candidate-details-container {
    display: table;
    height: $table-row-height;
    position: relative;

    @include breakpoint($bp-tablets-portrait) {
      height: 144px;
    }
  }

  .candidate-meta-container,
  .candidate-info-wrapper {
    display: table-cell;
    vertical-align: top;
    height: 100%;
  }

  .candidate-meta-container {
    position: relative;
    max-width: 35px;
    background-color: $color-app-light-blue;
    color: $color-almost-white;

    .candidate-invite-date {
      position: absolute;
      bottom: 5px !important;
      right: 0;
      left: 0;
      display: block;
    }
  }

  .candidate-status-label {
    display: block;
    position: relative;
    transform: rotate(90deg);
    top: 12px;
    font-weight: bold;
  }

  .candidate-invite-date {
    .month-label,
    .day-label,
    .year-label {
      text-align: center;
    }

    .month-label,
    .day-label {
      line-height: 15px;
      font-weight: bold;
    }

    .month-label {
      font-size: 14px;
    }

    .day-label {
      font-size: 19px;
    }

    .year-label {
      font-size: 10px;
      line-height: 11px;
      font-weight: bold;
      &:before,
      &:after {
        content: "-";
        display: inline-block;
      }
    }
  }

  .candidate-info-wrapper {
    position: relative;
    width: 100%;

    .candidate-info-container {
      position: absolute;
      top: 5px;
      left: $table-row-column-left-padding;
      bottom: 5px;
      right: $table-row-column-left-padding;

      .phone-wrapper,
      .email-wrapper,
      .candidate-locations,
      .candidate-positions {
        width: 100%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        min-height: 24px;
      }
    }
  }

  .candidate-scores {
    height: $table-row-height;
    background-color: $color-listing-background-grey;
    padding-top: 5px;
    font-family: Helvetica, Arial, serif;

    #invitations & {
      color: $color-app-lighter-grey;
    }

    @include breakpoint($bp-tablets-portrait) {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: $score-right-offset;
      height: auto;
      padding-top: 0;
    }

    .score-value:after {
      content: "%";
      font-size: 20px;
      margin-left: 2px;
      font-weight: normal;
    }

    .overall-score {
      height: 50%;
      padding: 10px;
      text-align: center;

      @include breakpoint($bp-tablets-portrait) {
        margin-top: 25px;
        height: auto;
        padding-bottom: 5px;
      }

      .score-label {
        line-height: 14px;
        font-size: 12px;

        @include breakpoint($bp-mobile-landscape) {
          line-height: 15px;
          font-size: 15px;
        }
        @include breakpoint($bp-tablets-portrait) {
          line-height: 18px;
          font-size: 18px;
        }
      }

      .score-value {
        font-size: 28px;
        line-height: 28px;

        @include breakpoint($bp-tablets-portrait) {
          line-height: 30px;
        }
      }
    }

    .sub-scores-container {
      display: table;
      width: 100%;
      margin: 13px 0;

      @include breakpoint($bp-tablets-portrait) {
        margin: 0;
      }

      .sub-score-container {
        display: table-cell;
        width: 50%;
        padding: 4px 0;

        & + .sub-score-container {
          border-left: 1px solid rgba(191, 191, 191, 0.48);
        }
      }

      .score-value::after {
        font-size: 11px;
      }

      .color-high-score {
        @include addScoreTextColors('high');
      }

      .color-average-score {
        @include addScoreTextColors('average');
      }

      .color-low-score {
        @include addScoreTextColors('low');
      }

      @include breakpoint($bp-mobile-landscape) {
        .score-value {
          font-size: 18px;
          line-height: 18px;
        }

        .score-label {
          font-size: 12px;
          line-height: 11px;
        }
      }

      @include breakpoint($bp-tablets-portrait) {
        .score-value {
          font-size: 22px;
          line-height: 22px;

          &:after {
            font-size: 16px;
          }
        }

        .score-label {
          font-size: 16px;
          line-height: 15px;
        }
      }
    }

    .score-label {
      font-size: 10px;
      line-height: 6px;
    }

    $score-bar-height: 15px;

    .score-bar-container {
      position: relative;
      height: $score-bar-height;
      margin: 5px 10px;
      background-color: white;
      box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
      border-radius: 10px;

      .score-bar-value {
        height: $score-bar-height;
        box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
        border-radius: 10px;
      }
    }

    .color-high-score {
      @include addScoreBarColors('high');
    }

    .color-average-score {
      @include addScoreBarColors('average');
    }

    .color-low-score {
      @include addScoreBarColors('low');
    }

  }

  .candidate-action-message-container .confirmation-action-container {
    position: absolute;
    top: $action-button-height;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
    background: rgba(0,0,0,0.85);
    color: $color-white;

    @include breakpoint($bp-tablets-portrait) {
      top: 0;
      right: $score-right-offset;
    }

    .confirmation-action-message {
      display: block;
      margin-top: 10px;
      text-align: center;
      font-size: 20px;
    }

    .confirmation-actions {
      margin-top: 5px;
      padding: 0 10px 10px;
      text-align: center;

      @include breakpoint($bp-tablets-portrait) {
        margin-top: 55px;
      }

      .btn {
        color: $color-app-btn-font-black;
        white-space: normal;
        overflow: hidden;
        height: 28px;
        width: 100%;
        border-radius: 0;

        @include breakpoint($bp-tablets-portrait) {
          height: 40px;
          width: auto;
        }

        + .btn {
          margin-top: 10px;

          @include breakpoint($bp-tablets-portrait) {
            margin-top: 0;
            margin-left: 10px;
          }
        }
      }

      .btn:before {
        display: block;
        margin-right: 5px;

        @include breakpoint($bp-tablets-portrait) {
          display: inline-block;
        }
      }

      .btn.ok {
        background-color: $color-app-sub-green;
      }

      .btn.cancel {
        background-color: $color-app-sub-red;
      }
    }
  }

  .candidate-actions {
    display: table;
    width: 100%;

    @include breakpoint($bp-tablets-portrait) {
      display: block;
      width: 30%;
      float: right;
    }

    .candidate-action {
      display: table-cell;
      width: 33.3%;
      vertical-align: middle;
      text-align: center;
      @include breakpoint($bp-tablets-portrait) {
        display: block;
        width: 100%;
      }

      .candidate-action-reinvite .action-button {
        @include addActionButtonBorder($color-app-sub-purple);
      }

      .candidate-action-move-forward .action-button {
        @include addActionButtonBorder($color-app-sub-blue);
      }

      .candidate-action-archive,
      .candidate-action-un-archive {
        .action-button {
          @include addActionButtonBorder($color-app-yellow);
        }
      }

      .candidate-action-hire .action-button {
        @include addActionButtonBorder($color-app-green);
      }

      .candidate-action-exit .action-button {
        @include addActionButtonBorder($color-app-sub-red);
      }
    }

    .action-button {
      border: none;
      background-color: transparent;
      white-space: normal;
      overflow: hidden;
      height: $action-button-height;
      padding: 0;
      width: 100%;
      border-radius: 0;

      @include breakpoint($bp-tablets-portrait)
      {
        height: 60px;
        font-size: 13px;
      }

      &:before {
        display: block;
        font-size: 25px;
        padding-top: 3px;
        margin-bottom: 5px;

        @include breakpoint($bp-tablets-portrait) {
          font-size: 20px;
          margin-bottom: 0;
        }
      }

      &:disabled {
        border-color: $color-app-lighter-grey;
      }
    }

    .action-label {
      display: none;
    }
  }

}