@import "../config/base-vars";
@import "../config/base-mixins";
@import "../../components/prop-ui";
@import "../components/notify-dialog";
@import "../components/select-tag-dialog";

$button-glyph-hieght: 36px;

@mixin addActionButtonColor($color: '') {
  border: none;
  border-bottom: 4px solid $color;

  &:hover {
    background-color: $color;
  }
}

//ugh
#e-COLUMN-0 {
  padding: 0;
  margin-bottom: 46px;

  #column1 {
    width: 100%
  }

  @include breakpoint($bp-tablets-landscape) {
    padding-left: 25%;
    margin-bottom: 0;
  }

  .prop-viewer {
    padding: 0;
  }
}

.prop-header {
  background-color: rgba(255, 255, 255, 0.63);
}

//Candidate actions
.candidate-actions {
  display: table;
  width: 100%;
  margin: 0;
  text-align: center;
  table-layout: fixed;

  .candidate-action {
    display: table-cell;
    margin: 0;
    width: 17%;

    //THIS SHOULD BE THE BACK BUTTON. REMOVE IF NO BACK BUTTON IN UI
    &:first-child {
      width: 15%;
      display: none;
    }
  }

  .action-button {
    width: 100%;
    overflow: hidden;
    color: $color-app-btn-font-black;
    background-color: transparent;
    border-radius: initial;
    height: $button-glyph-hieght + 10px;
    border: none;
    box-shadow: none;
    text-transform: initial;

    @include breakpoint($bp-tablets-portrait) {
      height: 60px;
    }

    &:hover {
      color: $color-app-btn-font-black;
    }

    &:before {
      display: block;
      font-size: 28px;
      height: $button-glyph-hieght;

      @include breakpoint($bp-tablets-portrait) {
        font-size: 22px;
        height: 23px;
      }
    }
  }

  .candidate-action-reinvite .action-button {
    @include addActionButtonColor($color-app-sub-purple);
  }

  .candidate-action-move-forward .action-button {
    @include addActionButtonColor($color-app-sub-blue);
  }

  .candidate-action-back .action-button {
    @include addActionButtonColor($color-app-dark-grey);

    &:hover {
      color: $color-white;
    }
  }
  .candidate-action-edit .action-button {
    @include addActionButtonColor($color-app-lightest-grey);
  }

  .candidate-action-archive,
  .candidate-action-un-archive {
    .action-button {
      @include addActionButtonColor($color-app-yellow);
    }
  }

  .candidate-action-hire .action-button {
    @include addActionButtonColor($color-app-green);
  }

  .candidate-action-exit .action-button {
    @include addActionButtonColor($color-app-sub-red);
  }
}

//Confirmation container
.confirmation-action-container {
  background: rgba(0,0,0,0.85);
  color: $color-white;

  $message-btn-spacing: 15px;

  .confirmation-action-message {
    display: block;
    text-align: center;
    font-size: 20px;
    padding-top: $message-btn-spacing;
  }

  .confirmation-actions {
    margin-top: 5px;
    padding: 0 10px 10px;
    text-align: center;

    @include breakpoint($bp-tablets-portrait) {
      margin-top: $message-btn-spacing;
    }

    .btn {
      color: $color-app-btn-font-black;
      white-space: normal;
      overflow: hidden;
      height: 28px;
      width: 100%;
      border-radius: 0;
      border: none;
      box-shadow: none;

      @include breakpoint($bp-tablets-portrait) {
        height: 40px;
        width: auto;
        display: inline-flex;
        align-items: center;
      }

      + .btn {
        margin-top: 10px;

        @include breakpoint($bp-tablets-portrait) {
          margin-top: 0;
          margin-left: 10px;
        }
      }
    }

    .btn:before {
      display: block;
      padding-bottom: 5px;

      @include breakpoint($bp-tablets-portrait) {
        display: inline-block;
        margin-right: 5px;
        padding-bottom: 0;
      }
    }

    .btn.ok {
      background-color: $color-app-sub-green;
    }

    .btn.cancel {
      background-color: $color-app-sub-red;
    }
  }
}

$prop-padding: 15px;

#e-COLUMN-0 {
  .prop-body {
    margin: 15px 2% 0;
    padding: 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.45);
    background-color: rgba(255, 255, 255, 0.6);

    .prop {
      padding: 0 $prop-padding;
    }

    .prop-wrapper {
      padding: 0 $prop-padding;
    }

    .prop.name {
      text-align: center;
      font-size: 26px;
      font-weight: bold;
      background-color: rgba(216, 216, 216, 0.45);
    }

    .prop.email .prop.email{
      padding: 0;

      .val {
        padding: 0;
      }
    }

    .prop.tag {
      display: inline-block;
      padding: 0;
      line-height: 30px;

      .tag-button {
        border: none;
        box-shadow: none;

        @include addTagStyle();
      }
    }

    .prop.scores {
      .prop.score {
        padding: 0;
      }
    }

    .prop.history,
    .prop.notes {
      padding: 0;

      label {
        display: block;
        padding: 5px $prop-padding;
        background-color: $color-app-light-blue;
        color: $color-white;
        text-align: center;

        &:after {
          display: none;
        }
      }

      .miwt-table-con,
      .notes-val {
        padding: $prop-padding;
        display: block;
        color: #373a3c;
        text-align: left;
      }
    }

    .prop.history {
      padding-bottom: 15px;

      .val {
        display: block;
      }

      .miwt-table-con {
        margin: $prop-padding $prop-padding 0;
        padding: 0;
        overflow: auto;

        thead > tr > th {
          background-color: #e0e0e0;
        }
      }

      .pager-bottom {
        padding-top: 15px;
      }
    }

  }
}

.prop.scores {
  display: table;
  width: 100%;
  padding-top: 5px;
  font-family: Helvetica, Arial, serif;

  #invitations & {
    color: $color-app-lighter-grey;
  }

  .score-value:after {
    content: "%";
    font-size: 20px;
    margin-left: 2px;
    font-weight: normal;
  }

  .overall-container {
    display: table-cell;
    width: 50%;
    text-align: center;
    vertical-align: middle;

    label {
      font-size: 26px;
    }

    .score-value {
      font-size: 28px;
      line-height: 28px;
    }
  }

  .sub-scores-container {
    display: table-cell;
    width: 50%;
    text-align: center;
    vertical-align: middle;

    .score-value::after {
      font-size: 11px;
    }

    .color-high-score {
      @include addScoreTextColors('high');
    }

    .color-average-score {
      @include addScoreTextColors('average');
    }

    .color-low-score {
      @include addScoreTextColors('low');
    }
  }

  $score-bar-height: 15px;

  .score-bar-container {
    position: relative;
    height: $score-bar-height;
    margin: 5px 10px;
    background-color: white;
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    border-radius: 10px;

    .score-bar-value {
      height: $score-bar-height;
      box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
      border-radius: 10px;
    }
  }

  .color-high-score {
    @include addScoreBarColors('high');
  }

  .color-average-score {
    @include addScoreBarColors('average');
  }

  .color-low-score {
    @include addScoreBarColors('low');
  }

}

.prop-footer-actions {
  display: none;
}