@import "../../config/base-import";
@import "../../components/actions";
@import "../../components/messages";
@import "../../components/top-menu";
@import "../../components/side-nav";
@import "../../components/miwt";
@import "../../components/miwt-tables";
@import "../../components/miwt-menu";
@import "../../components/miwt-dialog";
@import "../../components/tabs";
@import "../../components/search-ui";
@import "../../components/pager";
@import "../../components/prop-ui";
@import "../../components/file-chooser";
@import "../config/base-mixins";

html {

}

body {
	font-family: $font-calibri;
	font-weight: 200;
	background: rgb(144,144,144);
	background: -moz-linear-gradient(left,  rgba(144,144,144,1) 0%, rgba(244,244,244,1) 15%, rgba(244,244,244,1) 85%, rgba(144,144,144,1) 100%);
	background: -webkit-linear-gradient(left,  rgba(144,144,144,1) 0%,rgba(244,244,244,1) 15%,rgba(244,244,244,1) 85%,rgba(144,144,144,1) 100%);
	background: linear-gradient(to right,  rgba(144,144,144,1) 0%,rgba(244,244,244,1) 15%,rgba(244,244,244,1) 85%,rgba(144,144,144,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#909090', endColorstr='#909090',GradientType=1 );
}

#e-content {
	background: url('/_resources/dyn/files/1076752ze9bb470d/_fn/bg-rando-dots.png') repeat 0 0;
	padding: 0.1px;
}

#main-wrapper main { padding-bottom: 3rem; }

#header {
	@include breakpoint($bp-tablets-landscape) {
		width: 25%;
	}

	.page-title-component {
		align-items: flex-end;
		margin-left: auto;

		h1 {
			font-size: 1.75rem;
			line-height: 1.5;
		}

		@include breakpoint($bp-tablets-landscape) {
			display: none;
		}
	}
}

.header-text {
	display: none;

	@include breakpoint($bp-tablets-landscape) {
		display: block;
	}
}

.header-text-always-show {
	display: block;
}

#e-COLUMN-0 {
	margin: 0 auto;
	max-width: 70rem;
	display: flex;
	flex-flow: row wrap;
	padding: 0 2.5% 25px;

	@include breakpoint($bp-tablets-landscape) {
		max-width: none;
		width: 100%;
		padding-left: 27.5%;
	}
}

.enclosing {
	> .column {
		float: none;
		position: relative;
	}
	#column1 {
		flex: 1 1 auto;

	}
	#column2 {
		flex: 4 1 0;
	}
}

::selection {
	background: #FF6C60;
	color: #fff;
}

.update-password-dialog {
	width: 40rem !important;
	.windowcontent {
		text-align: center;
	}
}

#main-content-wc-0 {
	h1, h2, h3 {
		font-weight: 300;
		padding: .75rem 0 1rem;
	}
	.text h1 {
		font-size: 2rem;
		color: $color-app-grey;
	}
}

.text img {
	max-width: 100%;
	height: auto;
}

section {
	> h1 {
		margin: 10px 0;
		font-size: 2rem;
	}
	section > h1 {
		font-size: 1.75rem;
		margin: 10px 0;
	}
}

.miwt-calendar {
	button.open,
	button.clear {
		border: none;
		background: inherit;
		box-shadow: none;
		color: #fff;

		&:before {
			visibility: visible;
			display: inline-block;
			font: normal normal normal 14px/1 FontAwesome;
			font-size: inherit;
			text-rendering: auto;
			-webkit-font-smoothing: antialiased;
			-moz-osx-font-smoothing: grayscale;
			content: "\f073";
			color: $color-app-light-grey;
		}
		&:hover {
			color: #fff;
			&:before {
				color: $color-app-black;
			}
		}
	}
	button.clear {
		padding-right: 0;
		&:before {
			content: '\f00d';
		}
	}
}

.instructions {
	padding-top: .75rem;
	padding-bottom: .75rem;
	color: $color-app-grey;
	font-style: italic;
}
p.instructions {
	padding-bottom: 0;
}

.prop-wrapper {

	.prop.time {
		.prop-group-title { margin-top: 0; }
	}

}

#footer {
	display: none;
}


.user-search {
	.search-results {
		thead tr th {
			&:nth-of-type(2) {
				min-width: 7rem;
			}
			&.control {
				min-width: 3.5rem;
			}
		}
		tbody tr td:nth-of-type(8) {
			overflow-wrap: break-word;
			word-wrap: break-word;
			-ms-word-break: break-all;
			word-break: break-all;
		}
	}
}

.back-top {
	display: none;
}

div.calendar {
	z-index: 1900 !important;
}

@media (max-width: 767px)
and (orientation:portrait) {

	.back-top {
		display: block;
		bottom: 1.5rem;
		position: absolute;
		right: 0;

		a {
			padding: 5px 7px 7px;
			border: 1px solid $color-app-brand;
			border-radius: 100%;
			line-height: 1;
			display: inline-block;
			background: #fff;
		}

	}

	.header {
		min-height: 50px;
	}

	#main-wrapper main {
		margin-top: -3.75rem;
	}

	#main-content-wc-0 h1, #main-content-wc-0 h2, #main-content-wc-0 h3 {
		padding-left: 2.5rem;
	}

}
