@import "../config/base-vars";
@import "../../../../../bower_components/bootstrap/scss/mixins";
@import "../../../../../bower_components/breakpoint-sass/stylesheets/breakpoint";

@mixin glyphAddBefore($html-entity, $size: 16px, $color: '') {
  &:before {
    font-family: $font-glyph-lib;
    content: $html-entity;
    font-size: $size;
    @if ($color != '') {
      color: $color;
    }
    display: inline-block;
    vertical-align: middle;
    line-height: 1;
    font-weight: normal;
    font-style: normal;
    text-decoration: inherit;
    text-transform: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

@mixin glyphAddAfter($html-entity, $size: 16px, $color: '') {
  &:after {
    font-family: $font-glyph-lib;
    content: $html-entity;
    font-size: $size;
    @if ($color != '') {
      color: $color;
    }
    display: inline-block;
    vertical-align: middle;
    line-height: 1;
    font-weight: normal;
    font-style: normal;
    text-decoration: inherit;
    text-transform: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

@mixin addActionButtonBorder($color: '') {
  border-bottom: 4px solid $color;

  &:hover {
    background-color: $color;
  }

  @include breakpoint($bp-tablets-portrait) {
    border-left: 4px solid $color;
    border-bottom: none;
  }
}

@mixin addTagStyle() {
  & {
    padding: 0 10px;
    height: 30px;
    background-color: $color-app-sub-green;
  }

  &:before {
    margin-right: 5px;
    transform: rotateY(180deg);
  }
}

@function getScoreColorForLevel($scoreLevel: 'average') {
  @if($scoreLevel == 'high') {
    @return $color-app-high;
  }
  @else if($scoreLevel == 'low') {
    @return $color-app-low;
  }
  @else {
    @return $color-app-average;
  }
}


@mixin addScoreBarColors($scoreLevel: 'average') {
  .score-bar-value {
      background-color: getScoreColorForLevel($scoreLevel);
  }
}

@mixin addScoreTextColors($scoreLevel: 'average') {
  .score-value {
    color: getScoreColorForLevel($scoreLevel);

    &:after {
      color: #373a3c;
    }
  }
}
