@import "../config/base-vars";

#header {
  background: $color-white;
  padding: .25rem 1rem;
  width: 100%;
  height: auto;
  display: flex;
  flex-flow: row wrap;
  box-shadow: 0 2px 2px rgba(0,0,0,0.28);
  border-bottom: 5px solid transparent;

  #invitations & {
    border-color: $color-app-pink;
  }

  #candidates & {
    border-color: $color-app-blue;
  }

  #employees & {
    border-color: $color-app-green;
  }

  #archives & {
    border-color: $color-app-yellow;
  }

  > div {
	display: flex;
  }

  .logo-con {
	flex: 1 0 0;
	justify-content: space-between;
    max-width: 5rem;

    #login-body & {
      max-width: 6rem;
    }

	a {
	  display: block;
	  width: 100%;
	}

	  img {
		  max-width: 100%;
		  height: auto;
	  }

	.fa.fa-bars {
	  display: block;
	  align-self: center;
	  font-weight: 300;
	  font-size: 1.5rem;
	  cursor: pointer;
	}

  }

  .nav-profile-con {
    @include gradient-vertical($start-color: #2f2f2f, $end-color: #0c0c0c, $start-percent: 0%, $end-percent: 100%);
    flex: 2 1 auto;
    align-items: center;
    display: flex;
    flex-flow: row nowrap;
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 99;
    width: 100%;
    color: $color-app-light-grey;
  }

  .div.menu, div.logout {
    font-size: .5rem;
  }

  div.menu {
	flex: 2;
	justify-content: center;
	font-weight: 400;
	align-self: flex-end;
	width: 100%;

	ul.menubeanh li, ul.menubeanh-persistent li {
	  float: none;
	}

	> ul.menu {
	  display: flex;
	  width: 100%;
	  justify-content: flex-start;
	  flex-flow: row nowrap;
	  text-align: center;

	  > li {
		align-self: flex-end;
		width: 100%;

		+ li {
		  margin-left: 0;
		}

		> .menuitemlabel {
		  text-transform: uppercase;
		  padding: .25rem .5rem;
		  display: block;
          font-size: .55rem;
		}

        > a::before {
          content: '';
          background-repeat: no-repeat;
          background-position: center center;
          background-size: contain;
          margin: 0 auto;
          width: 25px;
          height: 25px;
          display: block;
          opacity: .5;
        }

        &.invitations {

          &.mi-active > a, > a:hover {
            @include gradient-vertical($start-color: $color-app-pink, $end-color: #ef2ced, $start-percent: 0%, $end-percent: 100%);
          }

          a::before {
            background-image: url('/_resources/dyn/files/1076134z520f390c/_fn/icon-invitations.png');
          }

        }

        &.candidates {
          &.mi-active > a, > a:hover {
            @include gradient-vertical($start-color: $color-app-blue, $end-color: #1a98c2, $start-percent: 0%, $end-percent: 100%);
          }

          a::before {
            background-image: url('/_resources/dyn/files/1076132zbb6c9c39/_fn/icon-candidates.png');
          }
        }

        &.employees {
          &.mi-active > a, > a:hover {
            @include gradient-vertical($start-color: $color-app-green, $end-color: #28b23c, $start-percent: 0%, $end-percent: 100%);
          }

          a::before {
            background-image: url('/_resources/dyn/files/1076133zcc6bacaf/_fn/icon-employees.png');
          }
        }

        &.archives {
          &.mi-active > a, > a:hover {
            @include gradient-vertical($start-color: $color-app-yellow, $end-color: #cdab23, $start-percent: 0%, $end-percent: 100%);
          }

          a::before {
            background-image: url('/_resources/dyn/files/1076131z2265cd83/_fn/icon-archive.png');
          }
        }

		&.mi-active > a, a:hover {
          text-decoration: none;
          color: $color-white;
          &::before {
            opacity: 1;
          }
		}

		ul {
		  width: auto;
		  z-index: 999;
		  display: block;
		  position: relative;

		  li {
			line-height: 2;

			a {
			  line-height: 1;
			  padding: .75rem;
			  display: block;
			  color: $color-white;
			}

			&:hover a, &.mi-active a {
              @include gradient-vertical($start-color: $color-app-orange, $end-color: #d17837, $start-percent: 0%, $end-percent: 100%);
			  color: $color-white;
			}

		  }

		}

	  }

	  a {
		color: $color-app-light-grey;
		text-decoration: none;
	  }

	}

  }

  div.logout {
	flex: 1;
	justify-content: flex-end;
	align-items: center;
    max-width: 4rem;

	> ul.menu {
	  justify-content: flex-end;

	  > li.mi-parent {
		cursor: pointer;

        > .menuitemlabel {
          &:hover {
            @include gradient-vertical($start-color: $color-app-orange, $end-color: #d17837, $start-percent: 0%, $end-percent: 100%);
            color: $color-white;
          }

          &::before {
            content: '';
            background: url('/_resources/dyn/files/1076135z2508099a/_fn/icon-options.png') no-repeat center center;
            background-size: contain;
            margin: 0 auto;
            width: 25px;
            height: 25px;
            display: block;
            opacity: .5;
          }

        }

        ul.menu-t2 {
          @include gradient-vertical($start-color: #2f2f2f, $end-color: #0c0c0c, $start-percent: 0%, $end-percent: 100%);
          display: none;
          position: absolute;
          right: 0;
          bottom: 2.9rem;
          width: 6rem;

          li a {
            font-size: .75rem;
          }

        }

        &:hover {
          ul.menu-t2 {
            display: block;
          }
        }

	  }

	}

  }

}

@media (min-width: 768px) {
  #header {
    div.logout {
      max-width: 20%;
    }
  }

}

@media (min-width: 1024px) {

  #header {
    @include gradient-vertical($start-color: #2f2f2f, $end-color: #0c0c0c, $start-percent: 0%, $end-percent: 100%);
    position: fixed;
    width: 15rem;
    height: 100vh;
    flex-flow: column nowrap;
    padding: 1rem 0;
    border-right: 5px solid #d17837;
    border-bottom: none;
    z-index: 102;

    #invitations & {
      border-color: #ef2ced;
    }

    #candidates & {
      border-color: #1a98c2;
    }

    #employees & {
      border-color: #28b23c;
    }

    #archives & {
      border-color: #cdab23;
    }

	.logo-con {
      background: $color-white;
	  flex: 1 0 auto;
	  justify-content: flex-start;
	  margin: 0 auto 2rem;
	  max-width: 10rem;
      max-height: 10rem;
      border-radius: 100%;
      overflow: hidden;
      padding: .5rem;
      border: 5px solid #000;
      align-self: center;

      #login-body & {
        max-width: 10rem;
      }

      img {
        padding: 1rem .5rem;

        #login-body & {
          padding: 1rem .5rem;
        }

      }

	  .fa.fa-bars {
		display: none;
	  }

	}

	.nav-profile-con {
	  display: block;
	  height: 100vh;
	  min-width: 0;
	  background: transparent;
	  position: relative;
	  top: auto;
	  right: auto;
	  overflow: visible;
	  width: auto;
	}

	div.menu {
	  align-self: center;
	  width: 100%;

	  > ul.menu {
		flex-flow: column nowrap;
		text-align: left;

		> li {
		  align-self: center;
		  width: 100%;

          &.invitations {

            &.mi-active > a, > a:hover {
              @include gradient-horizontal($start-color: $color-app-pink, $end-color: #ef2ced, $start-percent: 0%, $end-percent: 100%);
            }

          }

          &.candidates {
            &.mi-active > a, > a:hover {
              @include gradient-horizontal($start-color: $color-app-blue, $end-color: #1a98c2, $start-percent: 0%, $end-percent: 100%);
            }
          }

          &.employees {
            &.mi-active > a, > a:hover {
              @include gradient-horizontal($start-color: $color-app-green, $end-color: #28b23c, $start-percent: 0%, $end-percent: 100%);
            }
          }

          &.archives {
            &.mi-active > a, > a:hover {
              @include gradient-horizontal($start-color: $color-app-yellow, $end-color: #cdab23, $start-percent: 0%, $end-percent: 100%);
            }
          }

		  > a {

            &.menuitemlabel {
              font-size: 1rem;
              padding: .5rem .75rem;
            }

            &::before {
              display: inline-block;
              vertical-align: middle;
              height: 40px;
              width: 40px;
              margin-right: .5rem;
            }

          }

		  ul {
			width: 13rem;
			border-right: none;
			border-bottom: 3px solid $color-app-yellow;
			background: $body-bg;
			box-shadow: 0 3px 5px rgba(0,0,0,0.1);
			display: none;
			position: absolute;
		  }

		  &.over {

			ul {
			  display: block;
			}

		  }

		}

	  }

	}

    div.logout {
      width: 65px;
      display: block;
      max-width: none;
      position: absolute;
      bottom: -15px;
      left: 0;

      > ul.menu {
        > li.mi-parent {
          width: 100%;

          > ul.menu-t2 {
            left: 0;
            right: -5.5rem;
            bottom: 3rem;

            li a {
              font-size: .75rem;
            }

          }

          > .menuitemlabel {
            height: 50px;
            span {
              color: transparent;
              height: 0;
            }

          }

          .menuitemlabel {
            font-size: 1rem;
            padding: .5rem .75rem;

            &::before {
              display: inline-block;
              vertical-align: middle;
              height: 30px;
              width: 30px;
              margin-right: .5rem;
            }
          }
        }
      }

    }

  }

}